{{/* theme: builtin */}}
{{ define "content" }}
<div class="page-file-editor">
    <h1>{{ T "Create New File" }}</h1>
	<div class="file-create-form">
		<div class="editor-wrap"
			hx-get="/api/editor?editor={{ .Editor }}"
			hx-trigger="load"
			hx-target="this"
			hx-swap="outerHTML"
		>
			loading editor...
		</div>
	</div>
</div>
{{ end }}
