{{/* theme: builtin */}}
{{ define "content" }}
<div class="page-file-editor" data-filepath="{{ docsPath .Data.FilePath }}">
    {{ if .Data.FilePath }}
		{{ if .Data.SectionID }}
			<h2>
				{{ T "Edit Section" }}: {{ .Data.SectionID }} {{ T "in" }}
				<a href="{{ urlPath .Data.FilePath }}">{{ .Data.FilePath }}</a>
			</h2>
		{{ else }}
			<h2>
				{{ T "Edit" }}:
				<a href="{{ urlPath .Data.FilePath }}">{{ .Data.FilePath }}</a>
			</h2>
		{{ end }}


		<div class="editor-wrap"
			hx-get="/api/editor?filepath={{ urlQuery (docsPath .Data.FilePath) }}{{ if .Data.SectionID }}&section={{ urlQuery .Data.SectionID }}{{ end }}{{ if .Data.Editor }}&editor={{ urlQuery .Data.Editor }}{{ end }}"
			hx-trigger="load"
			hx-target="this"
			hx-swap="outerHTML"
		>
			loading editor...
		</div>
	{{ else }}
		<div class="error">
			<h1>{{ T "Error" }}</h1>
			<p>{{ T "File path not provided" }}</p>
		</div>
	{{ end }}
</div>
{{ end }}
