<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8" />
    <link href="/themes/{{.CurrentTheme}}/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/toastui-editor-3.2.2.min.css" />
</head>

<body data-theme="{{.CurrentTheme}}" data-dark-mode="{{.DarkMode}}" data-color-scheme="{{.ColorScheme}}">
    <div id="page-fileedit">
        <h2>
            edit:
            <a href="/files/{{.FilePath}}">{{.FilePath}}</a>
        </h2>
        <div hx-get="/api/components/markdown-editor?filepath={{.FilePath}}" hx-trigger="load" hx-swap="innerHTML">
            loading editor...
        </div>
    </div>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/toastui-editor-3.2.2.min.js"></script>
</body>

</html>
