{{/* theme: builtin */}}
{{ define "content" }}
<div class="page-file-dittable">
    <div class="container">
        <h1>{{T "table editor"}}: {{ .Data.FilePath }}</h1>
        <div
            hx-get="/api/editor/tableeditor?filepath={{ .Data.FilePath }}&tableIndex={{ .Data.TableIndex }}"
            hx-trigger="load"
            hx-target="this"
            hx-swap="outerHTML"
        >
            {{T "loading"}}...
        </div>
    </div>
</div>
{{ end }}
