{{ define "content" }}
<div id="page-filenew">
    <h1>{{ T "Create a New File" }}</h1>
	<div class="file-create-form">
		<div
			hx-get="/api/editor/new/{{ .FileType }}"
			hx-trigger="load"
			hx-target="this"
			hx-swap="outerHTML"
		>
			loading editor...
		</div>
	</div>
</div>
{{ end }}
