{{/* theme: builtin */}}
{{ define "content" }}
<div class="page-filter">
    <div class="filterview-header">
        <h1>{{ T "Filter" }}: {{ .Data.FilterID }}</h1>
    </div>
    <div id="filter-results">
        {{ .Data.ResultsHTML }}
    </div>
</div>
{{ end }}
