{{/* theme: builtin */}}
{{ define "content" }}
<div class="page-filter-view">
    <div class="filterview-header">
        <h1>{{ T "Filter" }}: {{ .FilterID }}</h1>
    </div>
    <div id="filter-results">
        {{ .ResultsHTML }}
    </div>
</div>
{{ end }}
