{{/* theme: builtin */}}
{{ define "content" }}
<div class="page-filter-edit">
    <div class="filteredit-header">
        <h1>{{ T "Edit Filter" }}: {{ .FilterID }}</h1>
    </div>
    <div
        hx-get="/api/editor?filepath={{ .FilePath }}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="outerHTML"
    >
        {{ T "loading editor..." }}
    </div>
</div>
{{ end }}
