<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8" />
    <link href="/themes/{{.CurrentTheme}}/style.css" rel="stylesheet" />
</head>

<body data-theme="{{.CurrentTheme}}" data-dark-mode="{{.DarkMode}}" data-color-scheme="{{.ColorScheme}}">
    <div id="history">
        <h1>History</h1>
    </div>
    <script src="/static/htmx.min.js"></script>
</body>

</html>
