package templates

import "knov/internal/files"

templ Home() {
	<!DOCTYPE html>
	<html>
		<head>
			<link href="/static/css/style.css" rel="stylesheet"/>
			<link href="/static/css/custom.css" rel="stylesheet"/>
		</head>
		<body>
			<div>
				<h1>Hello World from templ at test home!</h1>
				<br/>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/settings">Settings</a></li>
				</ul>
			</div>
		</body>
	</html>
}


templ Settings() {
	<!DOCTYPE html>
	<html>
		<head>
			<link href="/static/css/style.css" rel="stylesheet"/>
			<link href="/static/css/custom.css" rel="stylesheet"/>
			<script src="/static/htmx.min.js"></script>
		</head>
		<body>
			<div>
				<h1>Hello World from templ at test settings!</h1>
				<form hx-post="/api/themes/setTheme" hx-target="body" hx-swap="outerHTML" hx-trigger="change">
					<label for="theme">Select Theme:</label>
					<select name="theme" id="theme">
						for _, theme := range data.AvailableThemes {
							if theme == data.ThemeToUse {
								<option value={ theme } selected>{ theme }</option>
							} else {
								<option value={ theme }>{ theme }</option>
							}
						}
					</select>
				</form>
				<a href="/">Home</a>
				<a href="/settings">Settings</a>
			</div>
		</body>
	</html>
}
