<!DOCTYPE html>
<html>

<body>
    <h1>overwrite default (unnamed)</h1>
</body>

</html>

{{define "basic"}}
<html>

<body>
    <h1>overwrite basic</h1>
</body>

</html>
{{end}}


{{define "advanced"}}
<html>

<body>
    <h1>overwrite basic</h1>
</body>

</html>
{{end}}
