package templates

import "knov/internal/thememanager"

templ Overview(data thememanager.TemplateData) {
	<!DOCTYPE html>
	<html>
		<head>
			<link href="/static/css/style.css" rel="stylesheet"/>
			<link href="/static/css/custom.css" rel="stylesheet"/>
		</head>
		<body>
			<div>
				<h1>Hello World from templ at Billo overview!</h1>
				<br/>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/settings">Settings</a></li>
				</ul>
			</div>
		</body>
	</html>
}
