<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <link href="/themes/{{.CurrentTheme}}/style.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h1>Test base - {{.Title}}</h1>

        <div class="nav">
            <a href="/base">Base</a>
            <a href="/settings">Settings</a>
        </div>
    </div>
</body>

</html>
