package templates

templ FileEdit(content string, filePath string, filename string) {
	@Base(filename + " - edit") {
		<div id="page-fileedit">
			<h2>
				edit:
				<a href={ templ.SafeURL("/files/" + filePath) }>{ filePath }</a>
			</h2>
			<div
				hx-get={ "/api/components/markdown-editor?filepath=" + filePath }
				hx-trigger="load"
				hx-swap="innerHTML"
			>
				loading editor...
			</div>
		</div>
	}
}
