package templates

import (
	"knov/internal/thememanager"
	"knov/internal/translation"
)

templ History(data thememanager.TemplateData) {
	@Base(translation.Sprintf("History"))
	<div>
		<h1>{ translation.Sprintf("Hello World from templ at History in the dark!") }</h1>
	</div>
}
