@import url("header.css");
@import url("playground.css");

:root {
  --primary: #65a30d;
  --accent: #a3e635;
  --neutral: #475569;
  --black: #374151;
  --white: #d1d5db;
}

body {
  font-family: sans-serif;
  background: var(--black);
  color: var(--white);
  margin: 0;
  font-size: 16px;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}

main {
  margin: 20px;
  padding: 10px;
  /* border: 1px solid color-mix(in srgb, var(--neutral) 50%, transparent); */
}

h1:first-child {
  margin-top: 0;
}
