{{/* theme: builtin */}}
{{ define "content" }}
<div class="page-latest-changes">
    <h1>{{if .Collection}}{{T "recent file history"}}: {{.Collection}}{{else}}{{T "recent file history"}}{{end}}</h1>
    <div hx-get="/api/git/latestchanges?count=500{{if .Collection}}&collection={{.Collection}}{{end}}"
         hx-trigger="load"
         hx-headers='{"Accept": "text/html"}'>
        {{T "loading recent changes..."}}
    </div>
</div>
{{ end }}
